.zoom{
  width: 90%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background: white;
  overflow: auto;
  border: 2px solid black;
  padding-left: 5%;
  padding-right: 5%;
  &.show{
    display: flex;
    flex-direction: column;
  }
  &.hide{
    display: none;
  }
  .pinzoom{
    display: block;
    margin: auto;
  }
}