.zoom{
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background: white;
  overflow: auto;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px;
  z-index: 1010;
  &.cshow{
    display: block;
    animation-name: modalshow;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-iteration-count: 1;
  }
  &.chide{
    display: block;
    visibility: hidden;
    animation-name: modalhide;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-iteration-count: 1;
  }
}
// overlay is shared with pincreate modal too
.modal-overlay{
  position: fixed;
  top:0;
  left: 0;
  background:rgb(94, 104, 112);
  opacity: 0.7;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
@keyframes modalshow {
  0%{
    opacity: 0;
    transform: scale(0)
  }
  100%{
    opacity: 1;
    transform: scale(1)
  }
}

@keyframes modalhide {
  0%{
    transform: scale(1) rotate(0deg);
    visibility: visible;
  }
  100%{
    transform: scale(0) rotate(360deg);
  }
}