.zoom{
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2%;
  padding-right: 2%;
  background: white;
  overflow: auto;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px;
  z-index: 1010;
  &.cshow{
    display: inline-block;
    flex-direction: column;
    animation-name: modalshow;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-iteration-count: 1;
  }
  &.chide{
    display: block;
    visibility: hidden;
    animation-name: modalhide;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-iteration-count: .5;
  }
  .pinzoom{
    margin: auto;
    width: 100%;
  }
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color: #555;
    font-family: "Helvetica";
    height: 50px;
    padding: 5px;
    #zoomtitle{
      font-size: 1rem;
      #zoomdesc{
        font-family: 'Berkshire Swash', cursive;
      }
      #zoomowner{
        font-size: 75%;
        font-family:'Spectral SC', serif;
        color: #b20e0e;
      }
    }
    #zoomtack{
      font-weight: 700;
      font-size: 2rem;
      &.small{
        font-size: 1rem;
        cursor: help;
        >i{
          font-size: rem;
          cursor: help;
        }
        i{
          font-size: 1rem;
          cursor: pointer;
        }
      }
      cursor: help;
      >i{
        cursor: help;
      }
    }
    i{
      font-size: 2rem;
      cursor: pointer;
    }
    @media screen and (max-width: 500px), screen and (max-height: 500px){
      height: 25px;
      padding: 2.5px;
      #zoomtitle{
        font-size: .5rem;
      }
      #zoomtack{
        font-size: 1rem;
      }
      i{
        font-size: 1rem;
        cursor: pointer;
      }
    }
  }
  .footer{
    margin-top: 1%;
    margin-bottom: 1%;
    .actionbutton{
      height:50px;
      width: 100%;
      color: white;
      font-size: 1rem;
      font-weight: 700;
      border-radius: .25rem;
      border: none;
      cursor: pointer;
      background-color: #b20e0e;
    }
    @media screen and (max-width: 500px), screen and (max-height: 500px){
      .actionbutton{
        height:25px;
        font-size: .5rem;
        border-radius: .125rem;
      }
    }
  }
}
// overlay is shared with pincreate modal too
.modal-overlay{
  position: fixed;
  top:0;
  left: 0;
  background:rgb(82, 81, 81);
  opacity: 0.7;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
@keyframes modalshow {
  0%{
    opacity: 0;
    transform: scale(0)
  }
  100%{
    opacity: 1;
    transform: scale(1)
  }
}

@keyframes modalhide {
  0%{
    transform: scale(1) rotate(0deg);
    visibility: visible;
  }
  100%{
    transform: scale(0) rotate(360deg);
  }
}