body{
    background: rgb(255, 255, 255);
    margin:0px;
    &.overlay{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin:0;
      overflow: hidden;
      background:rgb(82, 81, 81);
      // opacity: 0.5 //changes all opacity including the modal need further investigation
      width: 100%;
      height: 100%;
    }
  }
