body{
    background: rgb(255, 255, 255);
    margin:0;
    overflow-y: scroll;
    &.cover{
      overflow: hidden;
    }
  }

  // overlay is shared with pincreate modal too
.modal-overlay{
  position: fixed;
  top:0;
  left: 0;
  background:rgb(94, 104, 112);
  opacity: 0.7;
  width: 100%;
  height: 100%;
  z-index: 1000;
  animation-duration: 1s;
}