node_modules
.git
.env
*.zip
docker-compose.yml
server_build
client/dist
coverage
myscripts/dump_archives
myscripts/atlas-dump.json
myscripts/atlas-dump-backup.json
.pinboard-deploy.env
.deployments/
