@import "../../common.scss";  
  .menu{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    background: #f8f8f8;
    justify-content: space-between;
    align-items: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    color: #5e6870;
    z-index: 1000;
    .brand{
      margin-left: 5%;
      >a{
        text-decoration: none;
        font-size: 30px;
        color:#b20e0e;
      }
    }
    .items{
      height: 50px;
      margin-right: 5%;
      >a{
        color: #5e6870;
        text-decoration: none;
        line-height: 50px;
      }
      &.extended{
        width: 400px;
        display: flex;
        justify-content: space-between;
        a{
          height: 100%;
          width: 100%;
          text-align: center;
          line-height: 50px;
          text-decoration: none;
          font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
          font-size: 1.25rem;
          font-weight: bold;
          color: #5e6870;
          &.active{
            background: #e5e4e4;
            color: #b20e0e;
          }
        }
      }
      &.collapsed{
        &.burger{
          margin-right: 5%;
          >i{
            padding-top: 4px;
            font-size: 2rem;
            cursor: pointer;
          }
        }
      }
      &.signin{
        font-size: 50px;
        cursor: pointer;
      }
    }
  }

  .responsivemenu{
    position: fixed;
    z-index: 1500;
    top: -350;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #f8f8f8;
    &.drop{
      top: 50px;
      @include animation('dropmenu');
      animation-duration: 1s;
      animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      animation-iteration-count: 1;
    }
    &.lift{
      top: -350px;
      @include animation('liftmenu');
      animation-duration: .75s;
      animation-timing-function: ease-out;
      animation-iteration-count: 1;
    }
    a{
      height: 100%;
      width: 100%;
      text-align: center;
      line-height: 100px;
      text-decoration: none;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 2rem;
      font-weight: bold;
      color: #5e6870;
      &.active{
        background: #e5e4e4;
        color: #b20e0e;
      }
    }
  }

  @include keyframes(dropmenu) {
    0%{
      opacity: 0;
      top: -350;
    }
    100%{
      opacity: 1;
      top: 50;
    }
  }

  @include keyframes(liftmenu) {
    0%{
      opacity: 1;
      top: 50;
    }
    100%{
      opacity: 0;
      top: -350;
    }
  }