.navbar-default .navbar-nav>li>a{
    font-size: 14px;
    color:black;
  }
  .navbar-default .navbar-nav>.active>a{
    font-size: 16px;
    font-weight: 700;
  }
  .navbar-default .navbar-brand{
      font-size: 30px;
      color:#b20e0e;
  }