@charset "UTF-8";
body {
  background: white;
  margin: 0px;
}

body #mainframe, body #userImageFrame {
  /*border: 3px solid black;*/
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 50px;
}

body #mainframe .image-box, body #userImageFrame .image-box {
  width: 400px;
  margin: 0px;
  padding-top: 20px;
  /*border: 3px solid black;*/
  border-radius: 6px;
  background: #eae8ea;
  visibility: hidden;
}

body #mainframe .image-box:hover, body #userImageFrame .image-box:hover {
  visibility: visible;
}

body #mainframe .image-format, body #userImageFrame .image-format {
  display: block;
  visibility: visible;
  margin: auto;
  width: 90%;
  border-radius: 5px;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

body #mainframe .image-format:hover, body #userImageFrame .image-format:hover {
  opacity: 0.7;
  filter: brightness(50%);
}

body #mainframe .actionbutton, body #userImageFrame .actionbutton {
  position: absolute;
  top: 11%;
  left: 73%;
  width: 20%;
  height: 35px;
  background-color: #a80b0b;
  color: white;
  font-size: 16px;
  font-weight: 700;
  border-radius: 7px;
  border: none;
  pointer: cursor;
}

body #mainframe .owner, body #userImageFrame .owner {
  position: absolute;
  top: 78%;
  left: 7%;
  color: white;
  font-size: 14px;
  font-weight: 700;
  text-transform: full-width;
}

body #mainframe .description, body #userImageFrame .description {
  font-weight: bold;
  font-size: 24px;
  color: #555;
  font-family: "Helvetica";
}

body #mypinframe {
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body #mypinframe #username {
  font-weight: 700;
  font-family: "Helvetica";
  font-size: 36px;
  letter-spacing: -1.25px;
  line-height: 42px;
  word-spacing: -2.25px;
  color: #555;
}

body #mypinframe #creatpinwrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding: 10px;
  visibility: hidden;
  cursor: pointer;
}

body #mypinframe #creatpinwrapper:hover {
  visibility: visible;
}

body #mypinframe #creatpinwrapper #createpin {
  height: 200px;
  width: 301px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  visibility: visible;
}

body #mypinframe #creatpinwrapper #createpin .fa-plus-circle {
  color: red;
  font-size: 50px;
}

body #mypinframe #creatpinwrapper #createpintext {
  color: #b5b5b5;
  font-size: 18px;
  visibility: visible;
  font-weight: 700;
  font-family: Helvetica;
}

body .modal {
  top: 10%;
  left: -20%;
}

body .modal .close {
  font-size: 42px;
}

body .modal .modal-content {
  width: 125%;
}

body .modal #contained-modal-title {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: #555;
  font-family: "Helvetica";
}

body .modal #addpin {
  width: 100%;
  display: flex;
  flex-direction: row;
}

body .modal #addpin #picdisplay {
  width: 50%;
  border-radius: 5px;
  background: #eaebed;
}

body .modal #addpin #picdisplay .pinTest {
  width: 100%;
  border-radius: 5px;
}

body .modal #addpin #formarea {
  width: 50%;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
}

body .modal #addpin #formarea #textdesc {
  width: 90%;
  height: 15%;
  resize: none;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #eaebed;
  margin-bottom: 10px;
}

body .modal #addpin #formarea #textlink {
  width: 90%;
  height: 7%;
  resize: none;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #eaebed;
}

body .modal .btn-danger {
  width: 100%;
  font-weight: bold;
  font-size: 30px;
}

body #cover {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
}

body #cover #logincard {
  z-index: 15;
  background-color: #fff;
  border-radius: 8px;
  min-height: 533px;
  margin-top: -266px;
  width: 400px;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: white;
  border-radius: 10px;
}

body #cover #logincard #welcome {
  font-family: 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #555;
}

body #cover #logincard #subheader {
  font-weight: bold;
  color: #ccc;
  font-size: 18px;
  text-align: center;
}

body #cover #logincard .buttontext {
  padding-right: 45px;
}

body #cover #logincard #loginbutton {
  border: 0px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1px;
  font-size: 15px;
  font-weight: bold;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
  background-clip: padding-box;
  transition: opacity .2s linear;
  width: 268px;
  background-color: #4285f4;
  color: white;
}

body #cover #logincard #loginbutton #twitter {
  font-size: 30px;
  padding-left: 3px;
}

body #cover #logincard #guestbutton {
  border: 0px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1px;
  font-size: 15px;
  font-weight: bold;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
  background-clip: padding-box;
  transition: opacity .2s linear;
  width: 268px;
  background-color: #ffb45e;
  color: white;
  margin-bottom: 10px;
}

body #cover #logincard #guestbutton #guest {
  font-size: 30px;
  padding-left: 3px;
}
