//variable declaration in list form fot links only
$a-tags: 'a, a:active, a:hover, a:visited, a:active, a:hover';

body{
    background: white;
    margin:0px;
    #mainframe,#userImageFrame{
      /*border: 3px solid black;*/
      margin-top: 5px;
      margin-left: 20px;
      margin-right: 20px;
      padding: 50px;
      .image-box{
        width:400px;
        margin:0px;
        padding-top: 20px;
        /*border: 3px solid black;*/
        border-radius: 6px;
        background: #eae8ea;
        visibility: hidden;
        &:hover{
          visibility: visible;
        }
      }
      .image-format{
        display:block;
        visibility: visible;
        margin:auto;
        width:90%;
        border-radius: 5px;
        cursor: -moz-zoom-in;
        cursor: -webkit-zoom-in;
        cursor: zoom-in;
        &:hover{
          opacity:0.7;
          filter: brightness(50%);
        }
      }
      .actionbutton{
        position: absolute;
        top:11%;
        left:73%;
        width:20%;
        height:35px;
        background-color: #a80b0b;
        color: white;
        font-size: 16px;
        font-weight: 700;
        border-radius: 7px;
        border: none;
        pointer:cursor;
      }
      .owner{
        position: absolute;
        top:78%;
        left:7%;
        color: white;
        font-size: 14px;
        font-weight: 700;
        text-transform: full-width;
      }
      .description{
        font-weight: bold;
        font-size: 24px;
        color: #555;
        font-family: 'Berkshire Swash', cursive;
      }
    }

    #mypinframe{
      margin-top: 5px;
      margin-left: 20px;
      margin-right: 20px;
      padding: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      #username{
        margin-top: 50px;
        font-weight: 700;
        font-family: "Helvetica";
        font-size: 36px;
        letter-spacing: -1.25px;
        line-height: 42px;
        word-spacing: -2.25px;
        color: #555;
      }
      #creatpinwrapper{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        padding: 10px;
        visibility: hidden;
        cursor: pointer;
        &:hover{
          visibility: visible;
        }
        #createpin{
          height:200px;
          width:301px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: rgba(0, 0, 0, 0.05);
          border-radius: 8px;
          visibility: visible;
          .fa-plus-circle{
            color:red;
            font-size:50px;
          }
        }
        #createpintext{
          color:#b5b5b5;
          font-size: 18px;
          visibility: visible;
          font-weight: 700;
          font-family: Helvetica;
        }
      }
    }
    .modal{
      top:10%;
      left:-20%;
      .close{
        font-size: 42px;
      }
      .modal-content{
        width: 125%;
      }
      #contained-modal-title{
        text-align: center;
        font-weight: bold;
        font-size: 24px;
        color: #555;
        font-family: "Helvetica";
      }
      #addpin{
        width:100%;
        display: flex;
        flex-direction: row;
        #picdisplay{
          width:50%;
          border-radius: 5px;
          background:#eaebed;
          .pinTest{
            width:100%;
            border-radius: 5px;
          }
        }
        #formarea{
          width:50%;
          padding-left: 5%;
          display: flex;
          flex-direction: column;
          #textdesc{
            width:90%;
            height:15%;
            resize: none;
            padding:10px;
            border:none;
            border-radius: 5px;
            background: #eaebed;
            margin-bottom: 10px;
          }
          #textlink{
            width:90%;
            height:7%;
            resize: none;
            padding:10px;
            border:none;
            border-radius: 5px;
            background: #eaebed;
          }
        }
      }
      .btn-danger{
        width:100%;
        font-weight: bold;
        font-size: 30px;
      }
      #contained-modal-title-zoom{
        display:flex;
        justify-content: space-around;
        flex-wrap: wrap;
        font-weight: bold;
        font-size: 24px;
        color: #555;
        font-family: "Helvetica";
        #zoomdesc{
          font-family: 'Berkshire Swash', cursive;
        }
        #zoomowner{
          font-family:'Spectral SC', serif;
          color: #b20e0e;
        }
      }
      #zoomarea{
        width: 100%;
        .pinZoom{
          width:100%;
          border-radius: 5px;
        }
      }
      #zoomfooter{
        display:flex;
        justify-content: flex-start;
        #zoomtack{
          font-size: 32px;
          font-weight: 700;
        }
      }
    }

    #cover:before {
      content: "";
      position: absolute;
      width: 200%;
      height: 200%;
      top: -50%;
      left: -50%;
      z-index: -1;
      background: url('/images/backscreen.png');
      animation-name: bkimage;
      animation-duration: 33s;
      animation-timing-function: linear;
      animation-iteration-count: 1;
    }
    #cover{
      position: relative;
      overflow: hidden;
      height:100%;
      width:100%;
      #logincard{
        z-index: 15;
        background-color: #fff;
        border-radius: 8px;
        min-height: 533px;
        margin-top: -266px;
        width: 400px;
        left: 50%;
        top: 50%;
        position: absolute;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background: white;
        border-radius: 10px;
        #logo{
          display: flex;
          justify-content: center;
          font-size: 40px;
          color:#b20e0e;
        }
        #welcome{
              font-family: 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial, sans-serif;
              font-size: 28px;
              font-weight: bold;
              color:#555;
        }
        #subheader{
          font-weight: bold;
          color: #ccc;
          font-size: 18px;
          text-align: center;
        }
        #disclaimer{
          font-weight: bold;
          color: red;
          font-size: 14px;
          text-align: center;
          margin-top: 10px;
        }
        #gitsource{
          margin-top: 10px;
          text-align: center;
          text-decoration: none;
          text-transform: full-width;
          font-weight: 900;
          font-size: 18px;
          color:
          a:hover{
            text-decoration: none;
          }
        }
        .buttontext{
          padding-right: 45px;
        }
        #loginbutton{
          border: 0px;
          height: 40px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-radius: 2px;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          padding: 1px;
          font-size: 15px;
          font-weight: bold;
          outline: none;
          -webkit-box-shadow: none;
          box-shadow: none;
          cursor: pointer;
          background-clip: padding-box;
          transition: opacity .2s linear;
          width: 268px;
          background-color: #4285f4;
          color:white;
          #twitter{
            font-size: 30px;
            padding-left: 3px;
          }
        }
        #guestbutton{
          border: 0px;
          height: 40px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-radius: 2px;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          padding: 1px;
          font-size: 15px;
          font-weight: bold;
          outline: none;
          -webkit-box-shadow: none;
          box-shadow: none;
          cursor: pointer;
          background-clip: padding-box;
          transition: opacity .2s linear;
          width: 268px;
          background-color: #ffb45e;
          color:white;
          margin-bottom: 10px;
          #guest{
            font-size: 30px;
            padding-left: 3px;
          }
        }
      }
    }
    .navbar-default .navbar-nav>li>a{
      font-size: 14px;
      color:black;
    }
    .navbar-default .navbar-nav>.active>a{
      font-size: 16px;
      font-weight: 700;
    }
    .navbar-default .navbar-brand{
        font-size: 30px;
        color:#b20e0e;
    }
  }

@keyframes bkimage {
  0%{
    -webkit-transform: translateY(400px);
     transform: translateY(350px);
  }
  100%{
    -webkit-transform: translateY(0px);
     transform: translateY(0px);
  }
}
