@charset "UTF-8";
body {
  background: white;
  margin: 0px;
}

body #mainframe, body #userImageFrame {
  /*border: 3px solid black;*/
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 50px;
}

body #mainframe .image-box, body #userImageFrame .image-box {
  width: 400px;
  margin: 0px;
  padding-top: 20px;
  /*border: 3px solid black;*/
  border-radius: 6px;
  background: #eae8ea;
  visibility: hidden;
}

@media screen and (max-width: 500px) {
  body #mainframe .image-box, body #userImageFrame .image-box {
    width: 100%;
  }
}

body #mainframe .image-box:hover, body #userImageFrame .image-box:hover {
  visibility: visible;
}

body #mainframe .image-format, body #userImageFrame .image-format {
  display: block;
  visibility: visible;
  margin: auto;
  width: 90%;
  border-radius: 5px;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

body #mainframe .image-format:hover, body #userImageFrame .image-format:hover {
  opacity: 0.7;
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
}

body #mainframe .actionbutton, body #userImageFrame .actionbutton {
  position: absolute;
  top: 11%;
  left: 73%;
  width: 20%;
  height: 35px;
  background-color: #a80b0b;
  color: white;
  font-size: 16px;
  font-weight: 700;
  border-radius: 7px;
  border: none;
  pointer: cursor;
}

@media screen and (max-width: 500px) {
  body #mainframe .actionbutton, body #userImageFrame .actionbutton {
    font-size: 8px;
    border-radius: 3px;
  }
}

body #mainframe .owner, body #userImageFrame .owner {
  position: absolute;
  top: 78%;
  left: 7%;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: full-width;
}

@media screen and (max-width: 500px) {
  body #mainframe .owner, body #userImageFrame .owner {
    top: 70%;
    font-size: 1rem;
  }
}

body #mainframe .description, body #userImageFrame .description {
  font-weight: bold;
  font-size: 24px;
  color: #555;
  font-family: 'Berkshire Swash', cursive;
}

body #mypinframe {
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body #mypinframe #username {
  margin-top: 50px;
  font-weight: 700;
  font-family: "Helvetica";
  font-size: 36px;
  letter-spacing: -1.25px;
  line-height: 42px;
  word-spacing: -2.25px;
  color: #555;
}

body #mypinframe #creatpinwrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding: 10px;
  visibility: hidden;
  cursor: pointer;
}

body #mypinframe #creatpinwrapper:hover {
  visibility: visible;
}

body #mypinframe #creatpinwrapper #createpin {
  height: 200px;
  width: 301px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  visibility: visible;
}

body #mypinframe #creatpinwrapper #createpin .fa-plus-circle {
  color: red;
  font-size: 50px;
}

body #mypinframe #creatpinwrapper #createpintext {
  color: #b5b5b5;
  font-size: 18px;
  visibility: visible;
  font-weight: 700;
  font-family: Helvetica;
}

body #cover:before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: -1;
  background: url("/images/backscreen.png");
  -webkit-animation-name: bkimage;
  animation-name: bkimage;
  -webkit-animation-duration: 33s;
  animation-duration: 33s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

body #cover {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

body #cover #logincard {
  z-index: 15;
  background-color: #fff;
  border-radius: 8px;
  min-height: 533px;
  margin-top: -266px;
  width: 400px;
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: white;
  border-radius: 10px;
}

body #cover #logincard #logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 40px;
  color: #b20e0e;
}

body #cover #logincard #welcome {
  font-family: 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #555;
}

body #cover #logincard #subheader {
  font-weight: bold;
  color: #ccc;
  font-size: 18px;
  text-align: center;
}

body #cover #logincard #disclaimer {
  font-weight: bold;
  color: red;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

body #cover #logincard #gitsource {
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: full-width;
  font-weight: 900;
  font-size: 18px;
  color: a;
}

body #cover #logincard #gitsource :hover {
  text-decoration: none;
}

body #cover #logincard .buttontext {
  padding-right: 45px;
}

body #cover #logincard #loginbutton {
  border: 0px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1px;
  font-size: 15px;
  font-weight: bold;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
  background-clip: padding-box;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
  width: 268px;
  background-color: #4285f4;
  color: white;
}

body #cover #logincard #loginbutton #twitter {
  font-size: 30px;
  padding-left: 3px;
}

body #cover #logincard #guestbutton {
  border: 0px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1px;
  font-size: 15px;
  font-weight: bold;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
  background-clip: padding-box;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
  width: 268px;
  background-color: #ffb45e;
  color: white;
  margin-bottom: 10px;
}

body #cover #logincard #guestbutton #guest {
  font-size: 30px;
  padding-left: 3px;
}

body .modal {
  top: 10%;
  left: -20%;
}

@media screen and (max-width: 800px) {
  body .modal {
    left: 0%;
  }
}

body .modal .close {
  font-size: 42px;
}

body .modal .modal-content {
  width: 125%;
}

@media screen and (max-width: 800px) {
  body .modal .modal-content {
    width: 100%;
  }
}

body .modal #contained-modal-title {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: #555;
  font-family: "Helvetica";
}

body .modal #addpin {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

body .modal #addpin #picdisplay {
  width: 100%;
  border-radius: 5px;
  background: #eaebed;
}

body .modal #addpin #picdisplay .pinTest {
  width: 100%;
  border-radius: 5px;
}

body .modal #addpin #formarea {
  width: 50%;
  padding-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

body .modal #addpin #formarea #textdesc {
  width: 90%;
  height: 15%;
  resize: none;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #eaebed;
  margin-bottom: 10px;
}

body .modal #addpin #formarea #textlink {
  width: 90%;
  height: 7%;
  resize: none;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #eaebed;
}

body .modal .btn-danger {
  width: 100%;
  font-weight: bold;
  font-size: 30px;
}

body .modal #contained-modal-title-zoom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 24px;
  color: #555;
  font-family: "Helvetica";
}

body .modal #contained-modal-title-zoom #zoomdesc {
  font-family: 'Berkshire Swash', cursive;
}

body .modal #contained-modal-title-zoom #zoomowner {
  font-family: 'Spectral SC', serif;
  color: #b20e0e;
}

body .modal #zoomarea {
  width: 100%;
}

body .modal #zoomarea .pinZoom {
  width: 100%;
  border-radius: 5px;
}

body .modal #zoomfooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

body .modal #zoomfooter #zoomtack {
  width: 50%;
  text-align: left;
  font-size: 32px;
  font-weight: 700;
}

@media screen and (max-width: 500px) {
  body .modal #zoomfooter #zoomtack {
    font-size: 16px;
  }
}

body .modal #zoomfooter .actionbutton {
  width: 20%;
  height: auto;
  background-color: #a80b0b;
  color: white;
  font-size: 16px;
  font-weight: 700;
  border-radius: 7px;
  border: none;
  pointer: cursor;
}

@media screen and (max-width: 500px) {
  body .modal #zoomfooter .actionbutton {
    font-size: 8px;
    border-radius: 3px;
  }
}

body .navbar-default .navbar-nav > li > a {
  font-size: 14px;
  color: black;
}

body .navbar-default .navbar-nav > .active > a {
  font-size: 16px;
  font-weight: 700;
}

body .navbar-default .navbar-brand {
  font-size: 30px;
  color: #b20e0e;
}

@-webkit-keyframes bkimage {
  0% {
    -webkit-transform: translateY(400px);
    transform: translateY(350px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes bkimage {
  0% {
    -webkit-transform: translateY(400px);
    transform: translateY(350px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
