
#mypinframe{
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    #username{
      margin-top: 50px;
      font-weight: 700;
      font-family: "Helvetica";
      font-size: 36px;
      letter-spacing: -1.25px;
      line-height: 42px;
      word-spacing: -2.25px;
      color: #555;
    }
    #creatpinwrapper{
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      background: rgba(0, 0, 0, 0.05);
      border-radius: 8px;
      padding: 10px;
      visibility: hidden;
      cursor: pointer;
      &:hover{
        visibility: visible;
      }
      #createpin{
        height:200px;
        width:301px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        visibility: visible;
        .fa-plus-circle{
          color:red;
          font-size:50px;
        }
      }
      #createpintext{
        color:#b5b5b5;
        font-size: 18px;
        visibility: visible;
        font-weight: 700;
        font-family: Helvetica;
      }
    }
  }