.pincreate{
    height: 80%;
    width: 40vmax;
    position: absolute;
    top: 70;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2%;
    padding-right: 2%;
    background: white;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    z-index: 1010;
    &.cshow{
      display: flex;
      flex-direction: column;
      animation-name: modalshow;
      animation-duration: 1s;
      animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      animation-iteration-count: 1;
    }
    &.chide{
      display: block;
      visibility: hidden;
      animation-name: modalhide;
      animation-duration: 1s;
      animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      animation-iteration-count: .5;
    }

    .header{
      height: 5%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
      color: #555;
      font-family: "Helvetica";
      font-size: 1rem;
      i{
        font-size: 1.5rem;
        cursor: pointer;
      }
    }
    .newpinholder{
        height: 60%;
        display: flex;
        justify-content: center;
        .pinTest{
            margin: auto;
            max-width:100%;
            max-height: 100%;
        }
    }

    .formArea{
        height: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 1%;
        margin-bottom: 1%;
        .textdesc{
            width: 100%;
            height: 30%;
            background: #dce3dc;
            margin-bottom: 5%;
            resize: none;
            border: none;
            padding: 5px;
        }
        .textlink{
            width:100%;
            height: 65%;
            background: #dce3dc;
            resize: none;
            border: none;
            padding: 5px;
        }
    }
    .footer{
      height: 10%;
      display:flex;
      justify-content: center;
      align-items: center;
      .savebutton{
        width:100%;
        height: 80%;
        margin-bottom: 1%;
        margin-top: 1%;
        background-color: #a80b0b;
        color: white;
        font-size: 1rem;
        font-weight: 700;
        border-radius: .25rem;
        border: none;
        cursor: pointer;
        &:disabled{
          cursor: not-allowed;
          background: #ee7c7c;
        }
      }
    }
  }
  
  @keyframes modalshow {
    0%{
      opacity: 0;
      transform: scale(0)
    }
    100%{
      opacity: 1;
      transform: scale(1)
    }
  }
  
  @keyframes modalhide {
    0%{
      transform: scale(1);
      visibility: visible;
    }
    100%{
      transform: scale(0);
    }
  }