@import "../../common.scss";

#cover:before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background: url('./backscreen.png');
    @include animation('bkimage');
    animation-duration: 33s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
  }
  #cover{
    position: relative;
    overflow: hidden;
    height:100%;
    width:100%;
    #logincard{
      z-index: 15;
      background-color: #fff;
      border-radius: 8px;
      min-height: 533px;
      margin-top: -266px;
      width: 400px;
      left: 50%;
      top: 50%;
      position: absolute;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background: white;
      border-radius: 10px;
      #logo{
        display: flex;
        justify-content: center;
        font-size: 40px;
        color:#b20e0e;
      }
      #welcome{
            margin-top: 20px;
            font-family: 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial, sans-serif;
            font-size: 28px;
            font-weight: bold;
            color:#555;
      }
      #subheader{
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: bold;
        color: #ccc;
        font-size: 24px;
        text-align: center;
      }
      #disclaimer{
        margin-top: 30px;
        font-weight: bold;
        color: #ee2323;
        font-size: 18px;
        text-align: center;
        margin-top: 10px;
      }
      #gitsource{
        margin-top: 20px;
        text-align: center;
        text-decoration: none;
        text-transform: full-width;
        font-weight: 900;
        font-size: 18px;
        >a{
          text-decoration: none;
          color: #2c5ca1;
          font-size: 24px;
        }
        a:hover{
          text-decoration: none;
        }
      }
    }
  }

  
  @include keyframes(bkimage) {
    0%{
       transform: translateY(350px);
    }
    100%{
       transform: translateY(0px);
    }
  }